* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.03em;
}
.blog_form {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  /* border: 1px solid red; */
  grid-template-rows: 13vh 1fr;
}
.blog_form > h1 {
 text-transform: uppercase;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  place-self: center;
  color: black;
}
.blog_form > section {
  display: grid;
  grid-template-columns: 75% 8% 1fr;
  grid-template-rows: 95%;
  align-content: center;
  justify-content: center;
}
.blog_form > section > form {
  display: grid;
  gap: 16px;
}
.blog_form > section > form > span {
  display: grid;
  gap: 10px;
}
.blog_form > section > form > span > label {
  text-transform: capitalize;
}
.blog_form > section > form > span > input,
textarea {
  padding: 10px;
}
#submit_btn {
  display: flex;
  place-self: center;
  padding: 10px 30px;
}
.blog_form > section > hr {
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.523);
  border: none;
  display: flex;
  place-self: center;
}
#blog_view {
  display: flex;
  place-self: center;
}
nav {
  height: 12vh;
  width: 100%;
  box-shadow: 0 0 2px black;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
nav > span > h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  place-self: center;
  color: black;
}
nav > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: rgb(238, 232, 232);
  color: white;
}
main {
  height: 130vh;
  background: url(https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg);
  background-size: 100% 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: 60%;
  grid-template-columns: 70%;
}
main > span {
  height: 100%;
  display: grid;
  place-content: center;
  gap: 20px;
  text-align: center;
}

main > span > h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px black;
}
.blog_data {
  margin-top: 20px;
  height: auto;
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  gap: 10px;
}

.blog_data > section > div {
  display: grid;
  grid-template-columns: 30% 60% 5%;
  gap: 20px;
  background-color: rgb(230, 226, 226);
  padding: 20px;
  justify-content: center;
}
.blog_data > section > div > span:nth-child(1) {
}
.blog_data > section > div > span:nth-child(1) > img {
  max-height: 40vh;
  width: 100%;
}
.blog_data > section > div > span:nth-child(3) {
  display: grid;
  align-content: baseline;
  gap: 10px;
}
.blog_data > section > div > span:nth-child(3) > #delete_btn {
  background-color: red;
  color: white;
}
button:active {
  transform: scale(1.03);
}
